.content-container {
  margin: 2% auto;
}
.team-container {
  margin-bottom: 2%;
  text-align: center;
}
.team-card {
  background-color: #374785 !important;
  color: white;
  border: 1px solid transparent !important;
  border-radius: 2% !important;
}

.team-card:first-child{
  padding-top: 5%
}